#button {
  background-color: #ba181b;
  color: #eeebdd;
  border: none;
  &:hover {
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
  }
}
#card {
  max-width: 300;
}
.img {
  max-height: 180px;
  object-fit: cover;
}
#text {
  text-shadow: 1px 1px 8px #000000;
}
