.thumbnails {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  cursor: all-scroll;
}
.thumbnails::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.thumbnails {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
