#link-filter {
  display: block;
  margin: auto;
  color: white;
  padding: 4px 8px;
  border-radius: 5%;
  border: none;
  background-color: #ba181b;
  &:hover {
    text-shadow: 2px 2px 5px #000000;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
  }
  &:focus {
    outline: none;
    border: none;
  }
  margin-bottom: 8px;
  margin-top: 8px;
}
#select {
  margin: 4px;
  min-height: 30px;
  min-width: 200px;
}

#filter {
  @media (max-width: 1000px) {
    display: none;
  }
}
#mobile-filter {
  @media (min-width: 900px) {
    display: none;
  }
}
#filter-icon {
  background-color: inherit;
  font-size: 18px;
  color: white;
}
#mobile-link-filter {
  background-color: #ba181b;
  color: white;
  border-radius: 5%;
  border: none;
  &:hover {
    text-shadow: 2px 2px 5px #000000;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
  }
  margin-bottom: 16px;
}
#filter-dialouge {
  margin: auto;
}
