#link-filter {
  display: block;
  margin: auto;
  color: white;
  padding: 4px 8px;
  border-radius: 5%;
  border: none;
  background-color: #ba181b;
  &:hover {
    // color: #f5f3f4;
    text-shadow: 2px 2px 5px #ff0000;
    // background-color: #660708;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
  }
  margin-bottom: 8px;
  margin-top: 8px;
}
#select {
  margin: 4px;
  min-height: 30px;
  min-width: 200px;
}
